<footer class="footer">
  <div class="container-fluid">
      <nav class="pull-left">
          <ul>

              <li>
                  <a href="https://www.creative-tim.com">
                      PFA Team GL4
                  </a>
              </li>
              <li>                 
              </li>
              <li>
                  <a href="https://www.creative-tim.com/license">
                      PEACE
                  </a>
              </li>
          </ul>
      </nav>
      <div class="copyright pull-right">
          &copy; {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by <a href="https://www.creative-tim.com">PFA TEAM</a>
      </div>
  </div>
</footer>
