.btn-col {
  color: #fff;
  background-color: #54c2b7;
  border-color: #54c2b7;
}
.btn-col:hover{color:#54c2b7;border-color:#54c2b7}

.w-40 {
  width: 40%!important;
}

@media (max-width: 768px) {
.mobile {
  display: none!important;
}
}
