<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          Change Password
        </h4>
      </div>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="changePass()">

          <div class="Mothod-Payment knolodge userProfile pb-2 row mx-auto">
             <div class="headding-title">
             <h4>Modifier mot de passe</h4>
             </div>
             <div class="container">
             <div class="col-md-6 d-inline-block">
             <div class="change-password desc-more mt-4">
             <div class="edite-password">
               <div class="alert alert-success" *ngIf=response>{{response}}</div>
          <div class="row">
            <div class="form-group col-md-12">
            <!--<label for="suerPassword">كلمة المرور : (<a href="members/forgot_password.html">نسيت كلمة المرور</a>)</label>-->
            <input type="password" name="password" placeholder="Nouveau mot de passe*" class="form-control" id="suerPassword" formControlName="password">
            <div *ngIf="(form.controls.password.invalid && form.controls.password.touched)" class="ml-5">
             <small *ngIf="form.controls.password.errors?.required" class="text-danger">Champ obligatoire</small>
             <small *ngIf="form.controls.password.errors?.minlength" class="text-danger">Mot de passe doit être composé de 8 caractères</small>
           </div>
            </div>
            </div>

            <div class="row">
             <div class="form-group col-md-12" >
               <input type="password" name="confirmPassword" placeholder="Confirmer mot de passe*" class="form-control" ngValidateEqual="password" formControlName="password_confirmation">
               <div *ngIf="(form.controls.password_confirmation.invalid && form.controls.password_confirmation.touched)" class="ml-5">
                   <small *ngIf="form.controls.password_confirmation.errors?.required" class="text-danger">Champ obligatoire</small>
                   <small *ngIf="form.controls.password_confirmation.errors?.notEqual" class="text-danger">Les mots de passe ne correspondent pas !</small>
               </div>
             </div>
            </div>
            </div>
         </div>
         </div>
         </div>
         <div class="alert alert-danger" [hidden]="!error">
           {{error}}
         </div>
          </div>
          <div class="check-code">
           <p class="text-center signup_message" style="color: #990000;"></p>
           <div class="form-row wow flipInX " data-wow-duration="3s" data-wow-offset="10">
            <div class="form-group col-md-6 edit-photo ">

              </div>
          <div class="form-group col-md-6 edit-photo ">
          <div class="row">
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
          <button name="login" type="submit" class="btn btn-col  btn-block hvr-bounce-to-left" [disabled]="form.controls.password.errors || form.controls.password_confirmation.errors "> Confirmer </button>
          </div>
          </div>
          </div>
          </div>
           </div>

         </form>
      </div>
    </div>
  </div>
</div>
