<div class="dialog-container">

  <p class="dialog-title facebook" >Modifier une offre Web</p>

  <form [formGroup]="updateForm" class="row justify-content-center align-items-center scale-in-center mt-3 p-4">

    <div class="col-12">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput name="name" type="text" required/>
      </mat-form-field>
  </div>

  <div class="col-12">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Details</mat-label>
      <input formControlName="details" matInput name="details" type="text" required/>
    </mat-form-field>
</div>

<div class="col-12">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Description</mat-label>
    <input formControlName="description" matInput name="description" type="text" required/>
  </mat-form-field>
</div>

<div class="col-12">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Prix</mat-label>
    <input formControlName="prix" matInput name="prix" type="text" required/>
  </mat-form-field>
</div>

<div class="col-12">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Web</mat-label>
    <mat-select formControlName="type">
      <mat-option [(value)]="selected">Web</mat-option>
    </mat-select>
  </mat-form-field>
</div>

  <div class="col-12" >
    <button class="submit-btn full-width facebook" (click)="update()" [disabled]="!updateForm.valid">
      Confirmer
    </button>
  </div>

</form>

</div>
